<section id="calculadora" class="special-color-dark pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-6 col-xl-6">
        <div class="p-4">
          <h1 class="text-white text-center border-bottom pb-2 text-uppercase">Rotação de Array</h1>
          <div class="md-form mb-0">
            <input mdbInput type="number" id="name" name="name" class="form-control" [(ngModel)]="arr" required #name="ngModel">
            <label for="form1">Array</label>
          </div>
          <p class="text-white text-left b-7">só números</p>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
              O campo é obrigatorio.
            </div>
          </div>
          <div class="md-form">
            <input mdbInput type="number" id="rep" name="rep" class="form-control" [(ngModel)]="repeat" required #rep="ngModel">
            <label for="form1">Repetição</label>
          </div>
          <div *ngIf="rep.invalid && (rep.dirty || rep.touched)" class="alert alert-danger">
            <div *ngIf="rep.errors.required">
              O campo é obrigatorio.
            </div>
          </div>
          <button 
            type="button" (click)="submit()" mdbBtn color="warning" 
            block="true" class="b-7 text-uppercase" [disabled]="!arr && !repeat" mdbWavesEffect>
              <h4 class="b-7 text-uppercase mb-0">Calcular</h4>
          </button>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5" *ngIf="flag">
      <div class="col-xl-8 col-lg-10 col-md-12">
          <h2 class="text-center text-white text-uppercase mb-4">resultados</h2>
          <div class="p-4 text-white border-bottom border-top">
            <h4 class="text-left mb-3">O array inicial => <span class="b-7">[{{matriz}}]</span></h4>
            <h4 class="text-left mb-3">Quantidade de repetições => <span class="b-7">{{repeat}}</span></h4>
            <h4 class="text-left mb-3">Resultado => <span class="b-7">[{{result}}]</span></h4>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-md-9 col-lg-6 col-xl-6">
        <div class="p-5 border rounded">
          <h2 class="text-white text-center text-uppercase">Exercício 2</h2>
          <a [routerLink]="['']" class="btn btn-success btn-block">Voltar</a>
        </div>
      </div>
    </div>
  </div>
</section>