<section id="home" class="mt-5">
  <div class="container">
    <h1 class="text-white text-center b-7 pb-2 border-bottom pt-5 mb-5">IBureau</h1>
    <div class="row justify-content-center">
      <div class="col-xl-4 col-md-6">
        <div class="p-5 border rounded">
          <h2 class="text-white text-center text-uppercase">Exercício 1</h2>
          <a [routerLink]="['/binary']" class="btn btn-success btn-block">Vá para o Exercício</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="p-5 border rounded">
          <h2 class="text-white text-center text-uppercase">Exercício 2</h2>
          <a [routerLink]="['/array']" class="btn btn-success btn-block">Vá para o Exercício</a>
        </div>
      </div>
    </div>
  </div>
</section>