<section id="calculadora" class="special-color-dark pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-6 col-xl-6">
        <div class="p-4">
          <h1 class="text-white text-center border-bottom pb-2 text-uppercase">Calculadora Binária</h1>
          <div class="md-form">
            <input mdbInput type="number" id="name" name="name" class="form-control" [(ngModel)]="entero" required #name="ngModel">
            <label for="form1">Número</label>
          </div>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
              O campo é obrigatorio.
            </div>
          </div>
          <button 
            type="button" (click)="submit()" mdbBtn color="warning" 
            block="true" class="b-7 text-uppercase" [disabled]="!entero" mdbWavesEffect>
              <h4 class="b-7 text-uppercase mb-0">Calcular</h4>
          </button>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5" *ngIf="binario">
      <div class="col-xl-8 col-lg-10 col-md-12">
          <h2 class="text-center text-white text-uppercase mb-4">resultados</h2>
          <div class="p-4 text-white border-bottom border-top">
            <h4 class="text-left mb-3"> Numero Entero => <span class="b-7">{{entero}}</span></h4>
            <h4 class="text-left mb-3">Numero Binario => <span class="b-7">{{binario}}</span></h4>
            <h4 class="text-left mb-3">Quantidade de Zeros => <span class="b-7">{{zero}}</span></h4>
            <h4 class="text-left mb-3">Quantidade de Uns => <span class="b-7">{{um}}</span></h4>
            <h4 class="text-left mb-3">Maior seqüência de zeros => <span class="b-7">{{seq}}</span></h4>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-md-9 col-lg-6 col-xl-6">
        <div class="p-5 border rounded">
          <h2 class="text-white text-center text-uppercase">Exercício 2</h2>
          <a [routerLink]="['']" class="btn btn-success btn-block">Voltar</a>
        </div>
      </div>
    </div>
  </div>
</section>